/*********** fixed nav ************/
.fixed-nav{
  position: fixed;
  left: 0;
  top: 0;
  background: #fff !important;
  width: 100%;
  transition: all 0.5s linear;
}
.fixed-nav .links a {
  color: #333;
}
.fixed-nav .logo{
  color:goldenrod
}

/*------------ navbar style ---------------*/
#nav{
  background: #fff;
  padding: 1rem 1.5rem;
  z-index: 100;
  transition: all 0.5s linear;
}
 .nav-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle{
  color: goldenrod;
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  outline: none;
  transition: all 0.4s linear;
  cursor: pointer;
  display: block;
}
.nav-toggle:hover{
  transform: scale(1.3);
}
.logo{
  color:goldenrod
}
.links-container{
  height: 0;
  overflow: hidden;
  transition: all 0.4s linear;
}
.links a{
  font-size: 1.5rem;
  font-weight: 400;
  color: #333;
  font-family: 'Roboto', sans-serif;
  padding: 0.75rem 0;
  background: #fff;
  text-transform: capitalize;
  letter-spacing: 0.25;
  display: block;
  transition: all 0.4s linear;
}
.links a:hover{
  color: goldenrod;
  margin-left: 15px;
}

@media screen and (min-width: 800px) {
  #nav{
    background: transparent;
  }
  .nav-center{
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header{
    padding: 0;
  }
  .nav-toggle{
    display: none;
  }
  .links-container{
    height: auto !important;
  }
  .links{
    display: flex;
  }
  .links a{
    background: transparent;
    color: #fff;
    margin: 0 1rem;
    padding: 0;
  }
  .logo{
    color:#fff;
  }
}  

/************* hero  *******************/
.homeHeader{
  min-height: 100vh;
  background: linear-gradient(rgba(20, 238, 31, 0.342), rgba(10, 10, 10, 0.404)), url(/images/front-page-header.jpg) center/cover no-repeat ;
}
.banner{
  min-height: 100vh;
  display: grid;
  text-align: center;
  place-items: center;
}
.container{
  animation: anim1 3s ease-in;
}
@keyframes anim1 {
  0%{ opacity: 0 ; 
    margin-top: -250px;
  };
  50%{opacity: 0.5;
  };
  100%{opacity: 1;
    margin-top: 0;
  }
}
.container h1{
  text-transform: uppercase;
  color: #fff;
}
.container p{
  color: #fff;
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
@media screen and (max-width:768px) {
  .container p{
    max-width: 25rem;
  }
}

/* footer */
#footer{
  background:#292825 ;
  color: #fff;
}
.footer-container{
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
}
.footer-container a{
color: rgb(187, 187, 187);
}
.footer-container a:hover{
  color:rgb(1, 132, 172);
}
.footer-container li{
  margin-bottom: 0.75rem;
}
.footer-container h2{
  margin-bottom: 1.3rem;
  font-size: 1.75rem;
  letter-spacing: 1.5;
}
@media screen and (max-width:680px) {
  .footer-container{
    display: block;
  }
  .products, .information{
    margin-bottom: 2rem;
  }
}
/**************** copy-right ***************/
.copy-right{
  padding: 1rem;
  background: #242320;
  text-align: center;
}
.copy-right p{
  color: rgb(192, 192, 192);
  font-size: 0.9rem;
}
